* {
  padding: 0;
  margin: 3px;
}

body {
  background-color: rgb(237, 245, 204);
  height: 100%;
}
img {
  align-self: center;
}

#h1 {
  text-align: center;
}

.homepage-container {
  background-color: rgb(236, 238, 206);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
}

.title {
  grid-column: 5/8;
  grid-row: 2/4;
  align-items: center;
}

.login {
  background-color: rgb(207, 211, 211);
  grid-column: 5/8;
  grid-row: 4/10;
  border: solid 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.register {
  grid-column: 5/8;
  grid-row: 10/12;
  display: flex;
}

[type="button"],
[type="submit"] {
  border: 1px solid #0e3868;
  background: #0e3868;
  border-radius: 10%;
  color: rgb(145, 187, 196);
  width: 100px;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  display: flex;
}

[type="button"]:hover,
[type="submit"]:hover {
  border: 1px solid #485865;
  background: white;
  border-radius: 15%;
  color: #0e3868;
}

.field-block {
  margin: 10px;
}

input,
label {
  margin: 5px;
  font-weight: 600;
}

input {
  padding: 10px;
  font-family: "Balsamiq Sans", sans-serif;
}
.submit {
  display: flex;
  justify-content: center;
}

.login .not-exists {
  font-size: small;
  color: red;
}

.login .hidden {
  visibility: hidden;
}
